body {
  background-color: #f3f3f3;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 30px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 10px;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 130px;
  height: 130px;
}

.button-label {
  margin-bottom: 5px;
}

.button-emoji {
  font-size: 30px;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

button:hover {
  background-color: #555;
}

#result {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

#score {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}

#game-status {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  padding: 15px;
  border-radius: 8px;
  background-color: #f1c40f;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
